ul, dl, li a, dd a, blockquote, blockquote a {
  color: #bebebe;
  font-family: Verdana, sans-serif;
}
body {
  background-color: #242424;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 100%;
  background-color: #303030;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vw;
}
header {
  margin-bottom: 60px;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}
header p {
  text-align: center;
  font-style: italic;
}
#myReasons {
  border-bottom: 1px solid #242424;
  display: none;
}

blockquote {
  font-size: 1em;
  margin-bottom: 2em;
}
nav li {
  display: inline-block;
}

h1, h2, h4, h5, h6, header, th, td, p {
  font-family: Georgia, serif;
  color: #dcdcdc;
}
#tracking {
  display: none;
}
#tracking h4 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.2em;
}
#tracking p, #tracking a {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 0.9em;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
#fingerprint td, #ip td {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#social td {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#social td p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
section {
  margin-top: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid #242424;
}
ul {
  list-style-type: none;
}
dt, a, h3 {
  font-weight: bold;
  color: #467ba7;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
dl {
  margin-left: 60px;
}
dd {
  font-size: 0.9em;
  text-decoration: none;
}
li a {
  font-weight: bold;
  color: #467ba7;
  text-decoration: none;
}
li {
  margin-bottom: 1em;
  margin-left: 20px;
}
footer {
  color: #666666;
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}
em {
  font-weight: bold;
}

@media only screen and (max-width: 100em) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-width: 64em) {
  .container {
    min-width: 35em;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    min-width: 80%;
    padding-left: 2em;
    padding-right: 2em;
  }
  h2, dt {
    text-align: center;
  }
  dl, dd, ul, li {
    margin-left: 0;
    padding-left: 0;
  }
}
